body {
	background-image: linear-gradient(to right,grey,black);
}

header .sandj {
	font-family: Stencil Std, fantasy;
	font-size: 80px;
	letter-spacing: 5px;
	color: white;
	margin-right: 330px;
	margin-left: 330px;
	border: 5px solid white;
	padding: 10px;
	padding-left: 50px;
	border-radius: 30px;
}

article {
	background-color: white;
	float: left;
	border-color: grey;
	width: 40%;
	height: 70%;
	margin-left: 410px;
	margin-top: 45px;
	overflow: scroll;
}

article .shirt .shi {
	margin-top: 50px;
	padding:0px 0px 0px 0px ;
	height: 240px;
	width:520px;
	border-bottom: 3px solid grey;
}

article .shirt .shi a {
	margin-right: -70px;
	margin-left: 90px;
	font-size: 20px;
	text-decoration:  none;
	color: black;
}

.shirt .shi a:hover {
	background-color: blue;
	padding: 10px;
	border-radius: 10px;
}

.shirt .shishi {
	margin-top: -180px;
	margin-left: 250px;
	font-size: 20px;
	color: black;
}

section .abs{
	margin-top: 399px;
}

section .abs a {
	font-family: Stencil Std, fantasy;
	font-size: 30px;
	text-decoration: none;
	color: black;
	margin-left: -900px;
	border: 5px solid black;
	padding: 10px;
	padding-left: 20px;
	border-radius: 30px;
	letter-spacing: 14px;		
}

section .abs a:hover {
	background-image: linear-gradient(to right,#0191B4, #35BBCA );
	border: 1px solid black;
	border-radius: 30px;
}